.pcontent-grid{

    display:grid;

    grid-template-columns: 650px 650px;

    

    column-gap:30px;

    background-color: transparent;

    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;

    justify-content: center;
    align-items: center;


}

.pcontent-grid .project{


    
    background-color: rgb(167, 167, 167);
    height:300px;
    border-style: solid;
    border-color:white;
    border-radius: 4px;
    border-width: 4px;
    transition:0.3s;


}


.pcontent-grid .project .project-info-grid{

    display: grid;
    grid-template-columns: 250px 1fr;
    height:100%;

}

.pcontent-grid .project .project-info-grid .project-desc{

    background-color: rgb(44, 44, 44);  
    height:100%;
    

}

.pcontent-grid .project .project-info-grid .project-image{

    background-color: lightskyblue;
    height:100%;
    

}

.project:hover{

    border-color:#0c4e8b;
    height:375px;

}